@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark,forest,sunset,corporate,emerald
;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: teal;
}

/* :root {
  --color-bg: #ffffff;
  --color-text: #1f2937;
  --color-primary: #2563eb;
  --color-secondary: #6b7280;

  --color-positive: #16a34a;
  --color-negative: #dc2626;  
  --color-neutral:  #6b7280;  
} */

/* Dark Theme */
/* .theme-dark {
  --color-bg: #0f172a;
  --color-text: #f3f4f6;
  --color-primary: #3b82f6;
  --color-secondary: #94a3b8;

  --color-positive: #22c55e;
  --color-negative: #f87171;  
  --color-neutral:  #94a3b8;  
} */

